* {
  box-sizing: border-box;
}

@font-face {
  font-family: gamingFont;
  src: url(RetroGamingFont.ttf);
}

body {
  background: url("./images/background.jpg") no-repeat center fixed;
  background-size: cover;
  margin: 0;
  font-family: gamingFont;
}
button {
  padding: 10px 20px 10px 20px;
  font-size: 10px;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#landing-page {
  background: url("./images/landing-background.png") no-repeat center fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  font-size: xx-large;
  color: white;
}

#landing-page li {
  position: relative;
}

#level-one-selector,
#level-two-selector,
#level-three-selector {
  position: absolute;
  left: -56px;
  top: 23px;
}

#game-page {
}

#game {
  position: relative;
  display: inline-grid;
  background: url(./images/gameboard.png) no-repeat;
}

.game-status {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  margin: 10px auto 0 auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

#start-button {
  margin-top: 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.square {
  display: block;
}

.bin {
  background: url(./images/garbage-bin.png) no-repeat;
  background-position: 8px 6px;
  background-size: 70%;
}

.vehicle {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.lorry {
  background: url(./images/vehicle-lorry.png) no-repeat;
}

.taxi {
  background: url(./images/vehicle-taxi.png) no-repeat;
}

.policecar {
  background: url(./images/vehicle-police-car.png) no-repeat;
}

.taxiTwo {
  background: url(./images/vehicle-taxi.png) no-repeat;
}

.garbageman {
  background: url(./images/garbageman.png) no-repeat;
}

.game-timer {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  width: 250px;
  margin: 5px auto;
}

.result-box {
  margin: 60px;
  font-size: 20px;
  font-weight: 400;
}
#item {
}
#item > * {
  display: block;
  margin: 30px 0;
}