* {
  box-sizing: border-box;
}

body {
  background: url('./background.jpg') no-repeat center fixed;
  background-size: cover;
  margin: 0;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#landing-page {
  background: url('./images/garbage-pacman-landing-background.png') no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-size: xxx-large;
  color: white;
}

#landing-page li{
  position: relative;
}

#level-one-selector, #level-two-selector, #level-three-selector{
  position: absolute;
  left: -56px;
  top: 23px;
}

#game-page {

}

#game {
  position: relative;
  display: inline-grid;
  background: url(./images/pacman-background.png) no-repeat;
}

.game-status {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  margin: 10px auto 0 auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

#start-button {
  margin-top: 20px;
}

#level-select {
  margin-top: 20px;
}

.hide {
  display: none;
}

.hide2 {
  visibility: hidden;
}

.show {
  display: initial;
}

.show2 {
  visibility: visible;
}

.square {
  display: block;
}

.dot {
  background: url(./images/garbage-bin-dot.png) no-repeat;
  background-position: 8px 6px;
  background-size: 70%;
  /* border: 8px solid black;
  border-radius: 50%; */
}

.pill {
  background: white;
  border: 5px solid black;
  border-radius: 50%;
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.scared {
  background: blue !important;
}

.blinky {
  background: url(./images/vehicle-lorry.png) no-repeat;
}

.pinky {
  background: url(./images/vehicle-taxi.png) no-repeat;
}

.inky {
  background: url(./images/vehicle-police-car.png) no-repeat;
}

.clyde {
  background: url(./images/vehicle-taxi.png) no-repeat;
}

.pacman {
  background: url(./images/pacman.png) no-repeat;
}

.game-timer {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  width: 250px;
  margin: 5px auto;
}